/* FLAG OF GAMBIA */
.flag {
    margin: 20px;
}

.red {
    background-color: red;
    width: 30%;
    height: 100px;

}

.blue {
    background-color: blue;
    width: 30%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.green {
    background-color: green;
    width: 30%;
    height: 100px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 139, 14);
}

.purpule {
    background-color: purple;
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
}
.pink {
    background-color: pink;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

/* margin of purpule and pink should be add and form 50px gap between them BUT NOT ADDED B\C IN THE MARGIN TOP AND BOTTUM THE ONLY MARGIN THAT WILL BE CONSIDERED IS THE LARGER MARGIN (30px) OF PURPULE DIV AND THE SMALLER COMES IN IT  they collapes into each other */